<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ProfessionalService",
    "name": "Frontend Software Engineering",
    "image": "https://frontend.co.za/",
    "@id": "https://frontend.co.za/",
    "url": "https://frontend.co.za/",
    "telephone": "+27 76 829 7070",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Delta Road",
      "addressLocality": "Johannesburg",
      "postalCode": "2196",
      "addressCountry": "ZA",
      "addressRegion":"Gauteng"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": -26.1273327,
      "longitude": 28.0673202
    },
    "openingHoursSpecification": {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "08:00",
      "closes": "16:45"
    } 
  }
  </script>