<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Person",
      "name": "Nilo Cara",
      "url": "https://nilo.frontend.co.za/about",
      "image": "https://nilo.frontend.co.za/static/images/400x400_NO_BG.png",
      "email": "nilo.cara@gmail.com",
      "telephone": "+27 76 829 7070",
      "description": "With over 15 years of experience in the technology industry, I began as a junior support analyst at Standard Bank Group and progressed to become a Group Operations Manager. However, in November of 2017, I opted to take a hiatus from my professional career to undertake a personal project. Upon completing my personal project, I re-entered the market in 2019 as a freelance software developer. My extensive experience and expertise with Python, Javascript, HTML, CSS, MySQL, AWS, and I am constantly exploring and learning new frameworks and languages. This has led me to be a well-rounded front-end developer utilizing JavaScript and various web development tools, with occasional forays into backend solutions using Node or Python. To further advance my career as a software engineer, I have recently joined Hyperion Dev with Stellenbosch University and Harvard University's CS50.",
      "sameAs": [
        "https://www.linkedin.com/in/nilo-cara/",
        "https://twitter.com/CodeCara",
        "https://github.com/niloc95/",
        "https://nilo.frontend.co.za/about"
      ],
      "jobTitle": "Software Engineer",
      "worksFor": {
        "@type": "Organization",
        "name": "Frontend Development"
      }  
    }
    </script>