{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="home-hero-section" class="bg-image bg-fixed p-4">
    <div class="min-h-screen flex items-center justify-start text-white">
      <div class="container mx-auto text-left">
        <div class="flex items-center mb-4">
          <h1 class="text-4xl headings-h1 leading-normal">{{ home_hero_h1 }} Nlio</h1>
        </div>
        <p class="text-white text-4xl webdev-h2 leading-tight">{{ home_hero_p2 }} </p>
        <button class="mt-6 px-4 py-2 bg-white text-blue-500">Get Started</button>
        <div id="made_by" class="absolute mx-auto bottom-0">
          <p class="sub-heading-p">
            Engineered with Django and TailwindCSS
            <a href="https://github.com/niloc95/Frontend" target="_blank" alt="Nilo Cara - Software Engineer">
              <i class="bi bi-github"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>

  {% endblock content%}

