{% load static %}

{% comment %} <!-- Navbar --> {% endcomment %}

<nav class="bg-transparent p-4 fixed top-0 w-full z-10">
    <div class="container mx-auto flex justify-between items-center">
        {% comment %} <!-- Brand/logo --> {% endcomment %}
        
        <a href="{% url 'home' %}">
            <span class="logo-type">{{logo}} </span>
            <span class="icon-fav">{{logo_favicon}}</span>
            <span class="logo-type-sub-type br">{{logo_sub_title}}</span>
        </a>
        {% comment %} <!-- Mobile menu button (hidden on desktop) --> {% endcomment %}
        <div class="lg:hidden">
            <button id="menu-toggle" class="text-white focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
        {% comment %} <!-- Desktop menu (hidden on mobile) --> {% endcomment %}
        <div class="hidden lg:flex space-x-4 items-center z1000">
            <a href="/" class="navlinks-hover navlinks-type">Home</a>
            <a href="{% url 'contact' %}" class="navlinks-hover navlinks-type">Contact</a>
            <a href="#" class="navlinks-hover navlinks-type"></a>
            <a href="{% url 'home' %}#formH" class="navlinks-hover navlinks-type ">Contact</a>
            <a href="#" class="navlinks-hover navlinks-type"></a>
        </div>
    </div>

    <div id="mobile-menu"
    class="lg:hidden fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 backdrop-blur z-50 hidden z1000">
    <div class="flex flex-col items-start">
        <div class="p-4">
            <button id="close-menu" class="text-white focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>
        <a href="{% url 'home' %}#contactForm_Home" class="navlinks-hover navlinks-type ">Contact</a>
        <a href="#" class="py-2 px-4 navlinks-hover navlinks-type"></a>
        <a href="#" class="py-2 px-4 navlinks-hover navlinks-type"></a>
        <a href="#" class="py-2 px-4 navlinks-hover navlinks-type"></a>
        <a href="#" class="py-2 px-4 navlinks-hover navlinks-type"></a>
        <a href="#" class="py-2 px-4 navlinks-hover navlinks-type"></a>
    </div>
</div>
</nav>
{% comment %} <!-- Mobile menu (hidden on desktop) --> {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
<script type="text/javascript" src="{% static '/js/tailwind.js' %}"></script>

